# Asignación de pines para el módulo top

# Reloj principal de la FPGA
set_io mclk 60


# Salida del sensor TCS3200
set_io sensor_clk 17
set_io detecto 15
set_io pwm_out1 26
set_io pwm_out2 24

# salidas de servomotores
set_io motor1 20   # Conectar al IN1 del ULN2003
set_io motor2 21   # Conectar al IN2 del ULN2003
set_io motor3 22   # Conectar al IN3 del ULN2003
set_io motor4 23   # Conectar al IN4 del ULN2003
set_io motor5 31  # Conectar al IN1 del ULN2003
set_io motor6 28   # Conectar al IN2 del ULN2003
set_io motor7 32   # Conectar al IN3 del ULN2003
set_io motor8 29  # Conectar al IN4 del ULN2003


# Pines para la selección de filtros del sensor TCS3200
set_io filtro_sel[0] 16  # Bit 0 del filtro_sel (Filtro rojo/verde/azul)
set_io filtro_sel[1] 18  # Bit 1 del filtro_sel (Filtro rojo/verde/azul)
